@page
@model Setup.Pages.SearchPlace.IndexModel

@{
    ViewData["Title"] = "List of Places";
}

<h1>Search Place</h1>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by Address:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Place[0].PlaceName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Place[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place[0].Wifi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place[0].Whiteboard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place[0].ParkingLot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place[0].Washroom)
            </th>
         
            <th>
                <b>Photos</b>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Place)
        {
        <tr>

            <th>
                @Html.DisplayFor(modelitem => item.PlaceName)
            </th>

            <th>
                @Html.DisplayFor(modelitem => item.Address)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.Wifi)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.Whiteboard)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.ParkingLot)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.Washroom)
            </th>

            <td>

                <a asp-page="./Details" asp-route-id="@item.PlaceID">Details</a>
            </td>
            <td>

                <a asp-page="Booking/Index" asp-route-id="@Model.Place[0].PlaceID ">Booking</a>

            </td>
        </tr>
        }
    </tbody>
</table>
