@page
@model Setup.Pages.RegisterAccount.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Province)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Province)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Account.AccountID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
